[user]
	name = Iwan Dyke
	email = iwan.dyke@dvla.gov.uk
[pull]
	rebase = true
[core]
	autocrlf = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[include]
	path = ~/.gitconfig.local
